
/*task1*/
body {
    margin: 100px;
  padding-bottom: 2000px;
}
*
{
    color: white;
    text-align: center;
}
.task1 {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidenav main sidebar"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    
}

.head {
    grid-area: header;
    background-color: hsl(207, 81%, 69%);
    padding: 70px;
    
}

.sidenav {
    grid-area: sidenav;
    background-color: #de725f;
    padding: 100px;
}

.main{
    grid-area: main;
    background-color: #64e687;
    padding: 100px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #de725f;
    padding:100px;
}

.foot {
    grid-area: footer;
    background-color: hsl(207, 81%, 69%);
    padding: 70px;
}


/*task2*/
  
  .task2 {
    text-align: center;
  }
  
  .title {
   
    margin-bottom: 20px;
    background: linear-gradient(to right, #bf3958, #ff4b2b);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .parent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  
  .child {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 30%;
}

.child h2 {
    font-size: 0.75rem;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.child h3 {
    
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .child p {
    
    color: #555;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #bf3958, #ff4b2b);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  

  